<div class="container-scroller">
  <div class="page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow" style="height: 100%;" *ngIf="showDiv" [@flyInOut]>
        <form>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 data-table">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let row" style="padding-right: 20px; padding-top:9px"><mat-checkbox (click)="getID(row.id)" class="example-margin">{{row.id}}</mat-checkbox></td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="attender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Attender</th>
              <td mat-cell *matCellDef="let row">{{row.attender}}</td>
            </ng-container>

            <ng-container matColumnDef="patient">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient</th>
              <td mat-cell *matCellDef="let row">{{row.patient}}</td>
            </ng-container>

            <ng-container matColumnDef="disease">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Disease</th>
              <td mat-cell *matCellDef="let row">{{row.disease}}</td>
            </ng-container>

            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
              <td mat-cell *matCellDef="let row">{{row.department}}</td>
            </ng-container>

            <ng-container matColumnDef="dateofapp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let row">{{row.dateofapp}}</td>
            </ng-container>

            <ng-container matColumnDef="timeofapp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
              <td mat-cell *matCellDef="let row">{{row.timeofapp}}</td>
            </ng-container>

            <ng-container matColumnDef="branch">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
              <td mat-cell *matCellDef="let row">{{row.branch}}</td>
            </ng-container>

            <ng-container matColumnDef="specialist">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Specialist</th>
              <td mat-cell *matCellDef="let row">{{row.specialist}}</td>
            </ng-container>

            <ng-container matColumnDef="insurance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Insurance<span
                  style="padding-left: 70px; padding-top: 10px;">
                  <p style="font-size: 13px;">Actions</p>
                </span></th>
              <td mat-cell *matCellDef="let row">{{row.insurance}}<span>
                  <button mat-raised-button color="accent" style="margin-left: 20px; margin-right:20px"
                    (click)="confirmApp()">Confirm</button>
                  <button mat-raised-button color="warn" (click)="cancelApp()">Cancel</button>
                </span></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>